{% extends "base.html" %}
{% block head %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15, // Creates a dropdown of 15 years to control year,
                today: 'Today',
                clear: 'Clear',
                close: 'Ok',
                closeOnSelect: false // Close upon selecting a date,
            });
        });
    </script>
{% endblock %}
{% block content %}
    <div class="container">
        <h4>Create a Bug</h4>
        <form action="/create-bug" method="POST">
            <div class="row">
                <div class="input-field col s12">
                    <input name="title" class="validate" placeholder="Enter a title">
                    <label for="title" class="active">Title</label>
                </div>
            </div>                        
            <div class="row">
                <div class="input-field col s12">
                    <textarea name="desc" cols="50" rows="5" placeholder="Enter a Description" class="materialize-textarea validate" ></textarea>
                    <label for="desc">Description</label>
                </div>
            </div>                
            <div class="row">
                <div class="input-field col s12">
                    <select name="priority" class="validate">
                        <option>Urgent</option>
                        <option>High</option>
                        <option>Normal</option>
                        <option>Low</option>
                    </select>
                    <label for="priority">Priority</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select name="status" class="validate">
                        <option>Open</option>
                        <option>Closed</option>
                        <option>In Progress</option>
                    </select>
                    <label for="status">Status</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">today</i>
                    <input name="created" type="text" class="datepicker validate">
                    <label for="icon_prefix">Created</label>
                </div>
            </div>
            <button type="submit" class="btn">Create</button>
        </form>
    </div>
{% endblock %}
