{% extends "base.html" %}
{% block content %}
    <div class="row">
    <div class="col s10">Welcome <span>User</span></div>
    </div>
    <div class="row">
        <form action="/create-bug" method="GET" class="col s10">
            <button type="submit" class="btn">Create Bug</button>
        </form>
    </div>
    <div class="row">
        <table class="col s12">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Title</td>
                    <td>Description</td>
                    <td>Priority</td>
                    <td>Status</td>
                    <td>Created</td>
                    <td>Modified</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                {% for bug in bugs %}
                    <tr>
                        <td>{{ bug._id }}</td>
                        <td>{{ bug.title }}</td>
                        <td>{{ bug.desc }}</td>
                        <td>{{ bug.priority }}</td>
                        <td>{{ bug.status }}</td>
                        <td>{{ bug.created }}</td>
                        <td>{{ bug.modified }}</td>
                        <td>
                            <a href="{{url_for('edit_bug', bug_id=bug._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>
                            <a href="{{url_for('mark_complete', bug_id=bug._id)}}" class="waves-effect waves-light btn btn_small">Complete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
{% endblock %}
