{% extends "base.html" %}
{% block content %}
    <p>Welcome <span>User</span></p>
    <p>
        <form action="/create-bug" method="GET">
            <button type="submit">Create Bug</button>
        </form>
    </p>
    <p>
        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Title</td>
                    <td>Description</td>
                    <td>Priority</td>
                    <td>Status</td>
                    <td>Created</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                {% for bug in bugs %}
                    <tr>
                        <!-- <td><input type="radio" name="chosenID" value="{{ bug._id }}" onclick="updateSelected()"></td> -->
                        <td>{{ bug._id }}</td>
                        <td>{{ bug.title }}</td>
                        <td>{{ bug.desc }}</td>
                        <td>{{ bug.priority }}</td>
                        <td>{{ bug.status }}</td>
                        <td>{{ bug.created }}</td>
                        <td>
                            <a href="{{url_for('mark_complete', task_id=bug._id)}}" class="waves-effect waves-light btn btn_small">Done</a>
                            <a href="{{url_for('edit_task', task_id=bug._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </p>
{% endblock %}
