{% extends "base.html" %}
{% block head %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15, // Creates a dropdown of 15 years to control year,
                today: 'Today',
                clear: 'Clear',
                close: 'Ok',
                closeOnSelect: false // Close upon selecting a date,
            });
        });
    </script>
{% endblock %}
{% block content %}
    <p>Edit Bug: {{ bug._id }} </p>
    <form action="/edit-bug/{{ bug._id }}" method="POST">
        <div class="row">
            <div class="input-field col s12">
                <input name="title" value="{{ bug.title }}">
                <label for="title">Title</label>
            </div>
        </div>                        
        <div class="row">
            <div class="input-field col s12">
                <textarea name="desc" cols="50" rows="5" placeholder="Enter a Description" class="materialize-textarea">{{ bug.desc }}</textarea>
                <label for="desc">Description</label>
            </div>
        </div>                
        <div class="row">
            <div class="input-field col s12">
                <select name="priority">
                    {% for priority in ['Urgent', 'High', 'Normal', 'Low'] %}
                        {% if priority == bug.priority %}
                            <option value="{{ priority }}" selected>{{ priority }}</option>
                        {% else %}
                            <option value="{{ priority }}">{{ priority }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="priority">Priority</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <select name="status">
                    {% for status in ['Open', 'Closed', 'In Progress', 'Completed'] %}
                        {% if status == bug.status %}
                            <option value="{{ status }}" selected>{{ status }}</option>
                        {% else %}
                            <option value="{{ status }}">{{ status }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="status">Status</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">today</i>
                <input name="modified" type="text" class="datepicker">
                <label for="icon_prefix">Modified</label>
            </div>
        </div>
        <button type="submit" class="btn">Save Changes</button>
    </form>
{% endblock %}
