{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <h4>Login</h4>
            {% if error %}
                <p style="color: red;">User email does not exist!</p>
            {% endif %}
            <form action="/login" method="POST" class="col s12">
                <div class="row">
                    <div class="input-field ">
                        <input type="text" name="email" value="" placeholder="Enter email" class="validate">
                    </div>
                    <div class="input-field">
                        <input type="password" name="password" value="" placeholder="Enter password" class="validate">
                    </div>
                    <button type="submit" class="btn">Login</button>
                </div>
            </form>
            <a href="/signup" class="btn">Signup</a>
        </div>
    </div>
{% endblock %}